<!DOCTYPE html>
<html lang="ch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>笔记列表 · DuLinRain</title>
  
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script type="text/javascript" src='./lib/vue.js'></script>
  <link rel='stylesheet' type="text/css" href='./css/index.css'></link>
  <style>
    
  </style>
 </head>
 <body>
 	<div id='app'>
	  <header>
	   <h1><a href="https://dulinrain.github.io/">DuLinRain</a></h1>
	   <nav>
	    <h1>Navigation</h1>
	    <ul>
	     <li><a href="https://dulinrain.github.io/">Home</a></li>
	     <li><a href="https://dulinrain.github.io/">Archive</a></li>
	    </ul>
	   </nav>
	  </header>
	  <section id="content">
	   <h1>笔记</h1>
	   <p>我一生的嗜好,除了写代码混口饭吃之外,就是读书,我一天不读书,就不能够生活.</p>
	   <nav><button>CSS</button><button>DOM</button><button>HTML</button><button>HTTP</button><button>JavaScript</button><button>MySQL</button><button>PHP</button><button>Unicode</button><button>jQuery</button><button>meta</button><button>performance</button><button>security</button></nav>
	   <ol class="archive filter-active">
		<li class="show" v-for='article in articles'>
			<a v-bind:href="article.link" rel="bookmark">
			<span class='tags'>
			<b v-for='tag in article.tags'>{{tag}}</b>
			</span>
			{{article.title}}
			</a>
		</li>
	   </ol>
	  </section>
	  <footer>© 1991—2017 DuLinRain</footer>
 	</div>
  <script type="text/javascript">
  var app=new Vue({
  	el:'#app',
  	data:{
  		articles:[
  			{title:'JavaScript字符集之一坨翔引发的血案',tags:['JavaScript','Unicode'],link:'./JavaScript字符集之一坨翔引发的血案.html'},
  			{title:'JavaScript字符集之合法变量名',tags:['JavaScript','Unicode'],link:'./JavaScript字符集之合法变量名.html'},
  			{title:'JavaScript字符集之合法属性名',tags:['JavaScript','Unicode'],link:'./JavaScript字符集之合法属性名.html'},
  			{title:'Web安全之跨站脚本攻击(XSS)实战',tags:['Web安全','XSS'],link:'./Web安全之跨站脚本攻击(XSS)实战.html'},
  			{title:'JavaScript基础知识之继承(类继承和原型继承)',tags:['JavaScript'],link:'./JavaScript基础知识之继承(类继承和原型继承).html'},
  			{title:'JavaScript设计模式（创建型）之工厂模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（创建型）之工厂模式.html'},
  			{title:'JavaScript设计模式（创建型）之生成器模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（创建型）之生成器模式.html'},
  			{title:'JavaScript设计模式（创建型）之原型模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（创建型）之原型模式.html'},
  			{title:'JavaScript设计模式（创建型）之单体模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（创建型）之单体模式.html'},
  			{title:'JavaScript设计模式（结构型）之适配器模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之适配器模式.html'},
  			{title:'JavaScript设计模式（结构型）之门面模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之门面模式.html'},
  			{title:'JavaScript设计模式（结构型）之装饰者模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之装饰者模式.html'},
  			{title:'JavaScript设计模式（结构型）之组合模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之组合模式.html'},
  			{title:'JavaScript设计模式（结构型）之享元模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之享元模式.html'},
  			{title:'JavaScript设计模式（结构型）之掺合模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之掺合模式.html'},
  			{title:'JavaScript设计模式（结构型）之模块模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之模块模式.html'},
  			{title:'JavaScript设计模式（结构型）之代理模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（结构型）之代理模式.html'},
  			{title:'JavaScript设计模式（行为型）之职责链模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之职责链模式.html'},
  			{title:'JavaScript设计模式（行为型）之命令模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之命令模式.html'},
  			{title:'JavaScript设计模式（行为型）之迭代器模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之迭代器模式.html'},
  			{title:'JavaScript设计模式（行为型）之观察者模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之观察者模式.html'},
  			{title:'JavaScript设计模式（行为型）之中介者模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之中介者模式.html'},
  			{title:'JavaScript设计模式（行为型）之策略模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之策略模式.html'},
  			{title:'JavaScript设计模式（行为型）之承诺模式',tags:['JavaScript','设计模式'],link:'./JavaScript设计模式（行为型）之承诺模式.html'},
  			{title:'ES6之数值和数学函数',tags:['JavaScript','ES6'],link:'./ES6之数值和数学函数.html'},

  		]
  	}
  });
  </script>
  </body>
</html>

